{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}Enter new password{% endblock %}


{% block content %}
<div class="contain py-16">
  <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
    {% if validlink %}
      <h2 class="text-2xl uppercase font-medium mb-1">Set a new password!</h2>
    
      <form method="POST" class="space-y-6">
        
        {% csrf_token %}
          
          {% include 'partials/_styled_form.html' %}
          <div class="mt-4">
            <button type="submit"
                class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                Change my password
            </button>
        </div>
      </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>

{% endblock %}