{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}
Account Details
{% endblock %}

{% block content %}

<!-- breadcrumb -->
{% include 'partials/_breadcrumb.html' %}
<!-- ./breadcrumb -->


<!-- account wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

    <!-- sidebar -->
    {% include 'partials/_sidebar.html' %}
    <!-- ./sidebar -->

    <!-- info -->
    <div class="col-span-9 grid grid-cols-3 gap-4">
        <h3 class="font-medium text-gray-800 text-3xl col-span-3 border-b-2 border-gray-200 py-4">Personal Profile</h3>
        <div class="shadow rounded bg-white px-4 pt-6 pb-8 col-span-3">
            <div class="flex items-center justify-between mb-4">
                <h4 class="text-gray-700 font-medium">{{ user.name }}</h4>
                <a href="{% url 'profile-edit' %}" class="text-primary">Edit</a>
            </div>
            <div class="space-y-1">
                <p class="text-gray-800">{{ user.email }}</p>
                <p class="text-gray-800">{{ user.profile.phone }}</p>
                <p class="text-gray-800">{{ user.profile.birth_date }}</p>
            </div>
        </div>
        <h3 class="font-medium text-gray-800 text-3xl col-span-3 border-b-2 border-gray-200 py-4">Address</h3>
        {% for adress in user.addresses.all %}
        <div class="shadow rounded bg-white px-4 pt-6 pb-8">
            <div class="flex items-center justify-between mb-4">
                <h3 class="font-medium text-gray-800 text-lg">{{ adress.name }}</h3>
                <a href="{% url 'address-edit' adress.id %}" class="text-primary">Edit</a>
            </div>
            <div class="space-y-1">
                <p class="text-gray-800"> {{ adress.country }}, {{ adress.city }}, {{ adress.address }}</p>
                <p class="text-gray-800">{{ adress.zip_code }}</p>
                <p class="text-gray-800">{{ adress.phone }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- ./info -->

</div>
<!-- ./account wrapper -->



{% endblock %}